[submodule "RV32I-common"]
	path = narvie-processor/sail
	url = https://github.com/physical-computation/Sail-RV32I-common
[submodule "FPGA-peripherals"]
	path = narvie-processor/peripherals
	url = https://github.com/FPGAwars/FPGA-peripherals
