#pcf file for the iCE40 Ultra Plus FPGA

set_io led[7] 9  #16A
set_io led[6] 10 #18A
set_io led[5] 11 #20A
set_io led[4] 18 #31B
set_io led[3] 19 #29B
set_io led[2] 13 #24A
set_io led[1] 21 #23B
set_io led[0] 12 #22A

set_io start  43 #49A

